<div>
<h1>My Saved Doctors</h1>

<% @saved_doctors.each do |doctor| %>
        <div class="col-sm-4">
        <div class="service-box wow animated fadeInDown" data-wow-delay="<%= @delay %>s"> 
          <%= link_to  "#{doctor[:first_name]} #{doctor[:last_name]}", "/doctors/#{doctor[:uid]}" %>

 <p><img src="<%= doctor[:image_url] %>"></p>
  <p>Specialties: <%= doctor[:specialties] %></p>
  <p>Practice: <%= doctor[:practice] %></p>
  <p>Location:</p>
  <p><%= doctor[:practice] %></p>

<%= link_to "Remove from list", "/saved_doctors?doctor_uid=#{doctor[:uid]}", method: :delete %><br/>
        </div>
      </div>
      <% @delay = @delay + 0.2 %>
   <% end %>
</div>