    <div class="banner" ng-controller="doctorsCtrl">
        <div class="banner-slider">
            <ul class="slides">
                <li>
                    <img src="/images/bg-1.jpg" class="img-responsive" alt="">
                </li>
                <li>
                    <img src="/images/bg-2.jpg" class="img-responsive" alt="">
                </li>
            </ul>
        </div>
        <div class="banner-overlay">
            <div class="banner-inner">
                <div class="banner-text">
                    <div class="row no-margin">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h1>Be Well</h1>
                            <h2>Find the right health care provider for you.</h2>
                            <div class="intro-text wow animated fadeInUp" data-wow-delay="0.1s">
                                <p>
                                <p>Search for doctors:</p>
                                <%= form_tag "/", method: :get do %>  
                                    <div>
                                      <%= label_tag :first_name %>
                                      <%= text_field_tag :first_name %>
                                    </div>
                                    </br>
                                    <div>
                                      <%= label_tag :last_name %>
                                      <%= text_field_tag :last_name %>
                                    </div>
                                    </br>
                                    <div>
                                      <%= label_tag :gender %>
                                      <%= text_field_tag :gender %>
                                    </div>
                                    </br>
                                    <div>
                                        <b>Specialty</b> <%= text_field_tag :specialty, '', list: 'specialty-list' %>
                                          <datalist id="specialty-list">
                                            <% @specialties.each do |specialty| %>
                                                <option value="<%= specialty[:name] %>">
                                            <% end %>
                                          </datalist>
                                        </option>
                                    </div>
                                    </br>
                                    <div>
                                        <b>Insurance</b> <%= text_field_tag :insurance, '', list: 'insurance-list' %>
                                          <datalist id="insurance-list">
                                            <% @insurances.each do |insurance| %>
                                                <option value="<%= insurance[:name] %>">
                                            <% end %>
                                          </datalist>
                                        </option>
                                    </div>
                                    </br>
                                    <div>
                                        <% if @current_user %>
                                            <%= label_tag :my_saved_address %>
                                            <%= text_field_tag :user_location, @current_user.user_profile.address %>
                                        <% end %>
                                    </div>
                                    </br>
                                    <div>
                                        <%= submit_tag "Search" %>
                                    </div>
                                <% end %>  
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner end-->
    <!--intro text-->
    <div class="row wide-image-wrapper no-margin">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div class="intro-text wow animated fadeInUp" data-wow-delay="0.1s">
                <p>
                    <% if @search_total != 0 %>
                        <div class="row no-margin ">
                            <div class="col-sm-12">
                                <div class="section-title">
                                <h3>Search Results: <%= @search_total %></h3>
                                </div>
                            </div>
                        </div>
                        <% @doctors.each do |doctor| %>
                            <div class="col-sm-4">
                                <div class="service-box-height wow animated fadeInDown box-height" data-wow-delay="0.1s">
                                    <h3><%= @list_number %>. <a href="/doctors/<%= "#{doctor["uid"]}" %>">
                                                                      <%= "#{doctor["profile"]["first_name"]} 
                                                                      #{doctor["profile"]["last_name"]}" %></a>
                                    </h3>
                                    <h4><img src="<%= "#{doctor["profile"]["image_url"]}" %>" 
                                                  alt="Mountain View" style="width:100px;height:90px;"></h4>
                                    <h6>Specialties: <%= "#{doctor["specialties"][0]["name"]}" %></h6>
                                    <h6>Practice: <%= "#{doctor["practices"][0]["name"]}" %></h6>
                                    <h6>Location: <%= "#{doctor["practices"][0]["visit_address"]["city"]}" %>, 
                                                  <%= "#{doctor["practices"][0]["visit_address"]["state_long"]}" %></h6>
                                    <% @list_number = @list_number + 1 %>
                                </div>
                            </div> 
                        <% end %>
                        <% else %>
                            <p></p>
                        <% end %>
                </p>
            </div>
        </div>
    </div><!--end row-->