        

<div class="row vertical-align-child white-bg wide-image-wrapper no-margin">

  <div class="col-sm-6 text-left">
    <div class="intro-text">

      <h2 class="margin-b-30">
        Dr. <%= "#{@doctor["profile"]["first_name"]} 
        #{@doctor["profile"]["last_name"]}" %>
      </h2>
        <p><img src="<%= "#{@doctor["profile"]["image_url"]}" %>" 
          alt="Mountain View" style="width:152px;height:145px;">
        </p>
        <% if current_user %>  
          <div class="buttons">
            <%= form_tag "/saved_doctors", method: :post do %>
              <div>
                <%= button_tag(type: 'submit', class: "btn btn-skin btn-lg btn-radius") do %>
                  Save This Doctor
                <% end %>
              </div>
              <div>
                <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
              </div>
              <div>
                <%= hidden_field_tag :user_id, current_user.id %>
              </div>
              <div>
                <%= hidden_field_tag :status, "Saved" %>
              </div>
            <% end %>
          </div>
        <% end %>
      <p> <b>Gender:</b> <%= "#{@doctor["profile"]["gender"]}" %></p>
      <p><b>Specialties:</b> <%= "#{@doctor["specialties"][0]["name"]}" %></p>
      <p><b>Insurance plans appcepted:</b></p>
        <% if @doctor["insurances"] %>
    <% @doctor["insurances"].each do |insurance| %>
      <p><%= insurance["insurance_plan"]["name"] %></p>  
    <% end %>
  <% else %>
      <p>Not available</p>
  <% end %>
    </div>
  </div>

  <div class="col-sm-6 text-right">
    <script>
      var map;
      function initMap() {
        var myLatLng = {lat: <%= "#{@doctor["practices"][0]["lat"]}" %>, lng: <%= "#{@doctor["practices"][0]["lon"]}" %>};
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= "#{@doctor["practices"][0]["lat"]}" %>, lng: <%= "#{@doctor["practices"][0]["lon"]}" %>},
          zoom: 14
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    <div id="map"></div>
    <div class="col-sm-4 text-left">    
      <p><b>Practice:</b> <%= "#{@doctor["practices"][0]["name"]}" %></p>
      <p><b>Location:</b> </p>
      <p><%= "#{@doctor["practices"][0]["visit_address"]["street"]}" %>, <%= "#{@doctor["practices"][0]["visit_address"]["street2"]}" %></p>
      <p><%= "#{@doctor["practices"][0]["visit_address"]["city"]}" %>, <%= "#{@doctor["practices"][0]["visit_address"]["state_long"]}" %> <%= "#{@doctor["practices"][0]["visit_address"]["zip"]}" %></p>
      <p>Website: 
        <% if @doctor["practices"][0]["website"] == nil %>
          N/A
        <% else %>
          <a href="<%= "#{@doctor["practices"][0]["website"]}" %>"><%= "#{@doctor["practices"][0]["website"]}" %></a>
        <% end %>
      </p>
    </div>
      <div class="col-sm-5 text-left">
        <p>Phone: <%= "#{@doctor["practices"][0]["phones"][0]["number"]}" %></p>
        <p>Accepting new patients? 
          <% if @doctor["practices"][0]["accepts_new_patients"] %>
            Yes
          <% else %>
            No
          <% end %>
        </p>
        <% if current_user %>
          <p><a href="https://www.google.com/maps/dir/Current+Location/<%= @doctor["practices"][0]["lat"] %>,<%= @doctor["practices"][0]["lon"] %>">Get Directions from your Current Location</a></p>
          <p><a href="https://www.google.com/maps/dir/<%= current_user.user_profile.lat %>,<%= current_user.user_profile.lon %>/<%= @doctor["practices"][0]["lat"] %>,<%= @doctor["practices"][0]["lon"] %>">Get Directions from your Saved Address</a></p>
        <% else %>
          <p><a href="https://www.google.com/maps/dir/Current+Location/<%= @doctor["practices"][0]["lat"] %>,<%= @doctor["practices"][0]["lon"] %>">Get Directions from your Current Location</a></p>
        <% end %>
      </div>
  </div>

</div><!--intro text end-->

<div class="space-60"></div>
<!--section title start-->
<div class="row no-margin ">
  <div class="col-sm-12">
    <div class="section-title">
      <h3>BIO</h3>
    </div>
  </div>
</div><!--section title-->
<!--intro text-->
<div class="row wide-image-wrapper no-margin">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <div class="intro-text wow animated fadeInUp" data-wow-delay="0.1s">
      <p><%= "#{@doctor["profile"]["bio"]}" %></p>
      <h4>John Doe, Design_mylife inc.</h4>
    </div>
  </div>
  <div class="space-60"></div>
</div><!--end row-->


<!--Portfolio start-->
<div class="portfolio-wrapper">
  <div class="parallax-header">
    <div class="row no-margin">
      <div class="col-sm-12 wow animated bounceIn" data-wow-delay="0.1s">
        <h3>Reviews and Ratings</h3>
        <p class="sub-title">See what others are saying about this doctor</p>
      </div>
    </div>
    <div class="separator-bottom" style="background-color: #000000;color:#eef1f6;"></div>
  </div><!--parallax header end-->
  <div class="space-60"></div>
<!--newsletter-->
  <div>
   <% @reviews.each do |review| %>
        <div class="col-sm-4">
        <div class="service-box wow animated fadeInDown" data-wow-delay="<%= @delay %>s"> 
          <h3>Rating: <%= review.rating %> out of 5</h3>
          <p>
            Review: "<%= review.text %>"
          </p>
          <p>
            From: <a href="mailto:#{review.user.email}"><%=review.user.email %></a>
          </p>
        </div>
      </div>
    <% @delay = (@delay + 0.3) %>
   <% end %>
  </div>
  <div class="space-60"></div>
<div class="row no-margin newsletter-form">
  <div class="col-sm-7 wow animated fadeInLeft" data-wow-delay="0.1s">
    <h2>LEAVE A REVIEW</h2>
    <p>
      Would you recommend this docotor? Let others know what you think!
    </p>
  </div>
  <% if current_user%>
    <div class="col-sm-5 wow animated fadeInRight" data-wow-delay="0.2s">
      <%= form_tag "/reviews", method: :post do %>
        <div class="form-group">
          <%= label_tag :Review %></br>
          <%= text_field_tag :text %>
        </div>
        <div>
          <%= label_tag :Rating %></br>
          <%= text_field_tag :rating %>
        </div>  
        </br>
        <div>
          <%= button_tag(type: 'submit', class: "btn btn-dark btn-radius btn-lg") do %>
            SUBMIT
          <% end %>
        </div>
        <div>
          <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
        </div>
        <div>
          <%= hidden_field_tag :user_id, current_user.id %>
        </div>
        <div>
          <%= hidden_field_tag :user_email, current_user.user_profile.email %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Log in or sign up to leave a review</p>
  <% end %>
</div>
</div>

<div class='space-60'></div>

<!--Portfolio start-->
<div class="portfolio-wrapper">
  <div class="parallax-header">
    <div class="row no-margin">
      <div class="col-sm-12 wow animated bounceIn" data-wow-delay="0.1s">
        <h3>Questions</h3>
        <p class="sub-title">Questions from Users</p>
      </div>
    </div>
    <div class="separator-bottom" style="background-color: #000000;color:#eef1f6;"></div>
  </div><!--parallax header end-->
  <div class="space-60"></div>
  <div>
   <% @questions.each do |question| %>
       <div class="col-sm-4">
        <div class="service-box wow animated fadeInDown" data-wow-delay="<%= @delay %>s"> 
          <p><%= question.text %></p>
        </div>
      </div>
    <% @delay = (@delay + 0.3) %>
   <% end %>
  </div>

  <div class="row no-margin newsletter-form">
    <div class="col-sm-7 wow animated fadeInLeft" data-wow-delay="0.1s">
      <h2>POST A QUESTION</h2>
      <p>
        Need more information? Post a question for this doctor 
      </p>
    </div>
    <div class="col-sm-5 wow animated fadeInRight" data-wow-delay="0.2s">
      <% if current_user %>
        <%= form_tag "/questions", method: :post do %>
          <div class="form-group">
            <%= label_tag :Question %></br>
            <%= text_field_tag :text %>
          </div>
          <div>
            <%= button_tag(type: 'submit', class: "btn btn-dark btn-radius btn-lg") do %>
              SUBMIT
            <% end %>
          </div>
          <div>
            <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
          </div>
          <div>
            <%= hidden_field_tag :user_id, current_user.id %>
          </div>
          <div>
            <%= hidden_field_tag :user_email, current_user.user_profile.email %>
          </div>
          <div>
            <%= hidden_field_tag :status, "Submitted" %>
          </div>
        <% end %>
      <% else %>
        <p>Log in or sign up to leave a review</p>
      <% end %>
    </div>
  </div>
</div>

<div class='space-60'></div>
 </div>


