        
<!--start main content-->
<!--intro banner start-->
<div class="banner">
  <div class="banner-slider">
    <ul class="slides">
      <li>
        <img src="/images/bg-1.jpg" class="img-responsive" alt="">
      </li>
      <li>
        <img src="/images/bg-2.jpg" class="img-responsive" alt="">
      </li>
    </ul>
  </div>
  <div class="banner-overlay">
    <div class="banner-inner">
      <div class="banner-text">
        <div class="row no-margin">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>Be Well</h1>
            <p>Find the right health care provider for you.</p>
            <div class="buttons">
              <a href="/#" class="btn btn-skin btn-lg btn-radius">Learn more</a>
              <a href="/#" class="btn btn-white btn-lg btn-radius">Our Portfolio</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--banner end-->

<div class="space-60"></div>
<!--section title start-->
<div class="row no-margin ">
  <div class="col-sm-12">
    <div class="section-title">
      <h3>Search for a doctor</h3>
    </div>
  </div>
</div><!--section title-->
<!--intro text-->
<div class="row wide-image-wrapper no-margin">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <div class="intro-text wow animated fadeInUp" data-wow-delay="0.1s">
      <p>
        Test! 
      </p>
      <h4>John Doe, Design_mylife inc.</h4>
    </div>
  </div>
  <div class="space-60"></div>
</div><!--end row-->
<div class="row vertical-align-child white-bg wide-image-wrapper no-margin">

  <div class="col-sm-6 text-left">
    <div class="intro-text">

      <h2 class="margin-b-30">We are good at.</h2>
      <!-- Progress -->
      <div class="progress">
        <!-- Progress Bar -->
        <div class="progress-bar" data-value="50">
          <span class="skill-value">Photoshop 50%</span>
        </div>
        <!-- End Progress Bar -->
      </div><!-- End Progress --> 

      <!-- Progress -->
      <div class="progress">
        <!-- Progress Bar -->
        <div class="progress-bar" data-value="80">
          <span class="skill-value">Jquery 80%</span>
        </div>
        <!-- End Progress Bar -->
      </div><!-- End Progress --> 

      <!-- Progress -->
      <div class="progress">
        <!-- Progress Bar -->
        <div class="progress-bar" data-value="60">
          <span class="skill-value">Design 60%</span>
        </div>
        <!-- End Progress Bar -->
      </div><!-- End Progress --> 
      <!-- Progress -->
      <div class="progress">
        <!-- Progress Bar -->
        <div class="progress-bar" data-value="70">
          <span class="skill-value">Development 70%</span>
        </div>
        <!-- End Progress Bar -->
      </div><!-- End Progress --> 

    </div>
  </div>
  <div class="col-sm-6 img-right hidden-xs">

  </div>
</div>
<!--intro text end-->


<!--Portfolio start-->
<div class="portfolio-wrapper">
  <div class="parallax-header">
    <div class="row no-margin">
      <div class="col-sm-12 wow animated bounceIn" data-wow-delay="0.1s">
        <h3>Recent portfolio</h3>
        <p class="sub-title">Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="separator-bottom" style="background-color: #000000;color:#eef1f6;"></div>
  </div><!--parallax header end-->
  <div class="space-60"></div>

  <div class="row no-margin">
    <div class="col-sm-4">
      <div class="box-img">
        <div class="inner">
          <img alt="" src="/images/img-1.jpg" class="img-responsive">
          <div class="item-desc">
            <span>
              <a href="/images/img-1.jpg" data-lightbox="roadtrip"><i class="icon-magnifying-glass"></i></a>
              <a href="/folio-single.html"><i class="icon-expand"></i></a>
            </span>
            <p>Project Title <em>Bootstrap</em></p>
          </div>
        </div>
      </div>
    </div><!--col end-->
    <div class="col-sm-4">
      <div class="box-img">
        <div class="inner">
          <img alt="" src="/images/img-2.jpg" class="img-responsive">
          <div class="item-desc">
            <span>
              <a href="/images/img-2.jpg" data-lightbox="roadtrip"><i class="icon-magnifying-glass"></i></a>
              <a href="/folio-single.html"><i class="icon-expand"></i></a>
            </span>
            <p>Project Title <em>Bootstrap</em></p>
          </div>
        </div>
      </div>
    </div><!--col end-->
    <div class="col-sm-4">
      <div class="box-img">
        <div class="inner">
          <img alt="" src="/images/img-3.jpg" class="img-responsive">
          <div class="item-desc">
            <span>
              <a href="/images/img-3.jpg" data-lightbox="roadtrip"><i class="icon-magnifying-glass"></i></a>
              <a href="/folio-single.html"><i class="icon-expand"></i></a>
            </span>
            <p>Project Title <em>Bootstrap</em></p>
          </div>
        </div>
      </div>
    </div><!--col end-->
  </div>
  <div class="row no-margin">
    <div class="col-sm-4">
      <div class="box-img">
        <div class="inner">
          <img alt="" src="/images/img-4.jpg" class="img-responsive">
          <div class="item-desc">
            <span>
              <a href="/images/img-4.jpg" data-lightbox="roadtrip"><i class="icon-magnifying-glass"></i></a>
              <a href="/folio-single.html"><i class="icon-expand"></i></a>
            </span>
            <p>Project Title <em>Bootstrap</em></p>
          </div>
        </div>
      </div>
    </div><!--col end-->
    <div class="col-sm-4">
      <div class="box-img">
        <div class="inner">
          <img alt="" src="/images/img-5.jpg" class="img-responsive">
          <div class="item-desc">
            <span>
              <a href="/images/img-5.jpg" data-lightbox="roadtrip"><i class="icon-magnifying-glass"></i></a>
              <a href="/folio-single.html"><i class="icon-expand"></i></a>
            </span>
            <p>Project Title <em>Bootstrap</em></p>
          </div>
        </div>
      </div>
    </div><!--col end-->
    <div class="col-sm-4">
      <div class="box-img">
        <div class="inner">
          <img alt="" src="/images/img-6.jpg" class="img-responsive">
          <div class="item-desc">
            <span>
              <a href="/images/img-6.jpg" data-lightbox="roadtrip"><i class="icon-magnifying-glass"></i></a>
              <a href="/folio-single.html"><i class="icon-expand"></i></a>
            </span>
            <p>Project Title <em>Bootstrap</em></p>
          </div>
        </div>
      </div>
    </div><!--col end-->
  </div>
</div><!--Portfolio end-->

<div class='space-30'></div>
<a class="link-block" href="/masonry-folio.html">View All Work</a>
<div class='space-60'></div>



<!--services start-->
<div class="row no-margin ">
  <div class="col-sm-12">
    <div class="section-title">

      <h3>Search for a Doctor</h3>

    </div>
  </div>
</div><!--section title-->

<div class="row no-margin">
  <div class="col-sm-4">
    <div class="service-box wow animated fadeInDown" data-wow-delay="0.1s">
      <i class="icon-mobile"></i>
      <h3>Responsive Design</h3>
      <p>
        Establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. 
      </p>
    </div>
  </div><!--end col-->
  <div class="col-sm-4">
    <div class="service-box wow animated fadeInDown" data-wow-delay="0.2s">
      <i class="icon-pictures"></i>
      <h3>Photography</h3>
      <p>
        Establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. 
      </p>
    </div>
  </div><!--end col-->
  <div class="col-sm-4">
    <div class="service-box wow animated fadeInDown" data-wow-delay="0.3s">
      <i class="icon-camera"></i>
      <h3>UI/UX Design</h3>
      <p>
        Establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. 
      </p>
    </div>
  </div><!--end col-->
</div>
<div class="row no-margin">
  <div class="col-sm-4">
    <div class="service-box wow animated fadeInDown" data-wow-delay="0.4s">
      <i class="icon-search"></i>
      <h3>Seo Ready</h3>
      <p>
        Establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. 
      </p>
    </div>
  </div><!--end col-->
  <div class="col-sm-4">
    <div class="service-box wow animated fadeInDown" data-wow-delay="0.5s">
      <i class="icon-presentation"></i>
      <h3>Marketing</h3>
      <p>
        Establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. 
      </p>
    </div>
  </div><!--end col-->
  <div class="col-sm-4">
    <div class="service-box wow animated fadeInDown" data-wow-delay="0.6s">
      <i class="icon-gears"></i>
      <h3>Web Development</h3>
      <p>
        Establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. 
      </p>
    </div>
  </div><!--end col-->
</div>
<!--services end-->
<div class='space-60'></div>
<div class="testimonials row no-margin">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h1>Testimonials</h1>


    <div id="owl-testi" class="owl-carousel owl-theme">

      <div class="item">
        <img src="/images/t-1.jpg" alt="">
        <p>
          Establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. 
        </p>
        <h4>John doe</h4>
      </div>
      <div class="item">
        <img src="/images/t-2.jpg" alt="">
        <p>
          Establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. 
        </p>
        <h4>John doe</h4>
      </div>
    </div>
  </div>
</div>

<!--newsletter-->
<div class="row no-margin newsletter-form">
  <div class="col-sm-7 wow animated fadeInLeft" data-wow-delay="0.1s">
    <h2>Subscribe to our newsletter</h2>
    <p>
      Establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.
    </p>
  </div>
  <div class="col-sm-5 wow animated fadeInRight" data-wow-delay="0.2s">
    <form role="form" method="post" action="#" class="subscribe-form  assan-newsletter">
      <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="Enter email to subscribe">
      </div>
      <div class="text-right">
        <button class="btn btn-dark btn-radius btn-lg" name="submit" type="submit">Notify me</button>
      </div>                          
    </form>

  </div>
</div>

<!--footer start-->
<footer class="footer row no-margin">
  <div class="col-sm-7">
    <ul class="list-inline">
      <li><a href="/#">Home</a></li>
      <li><a href="/#">About</a></li>
      <li><a href="/#">News</a></li>
      <li><a href="/#">Privacy</a></li>
      <li><a href="/#">Contact</a></li>
    </ul>
  </div>
  <div class="col-sm-5 text-right">
    <span>&copy; Copyright 2016. All right reserved.</span>
  </div>
</footer>
<!--footer end-->
<h1>Doctor Show Page</h1>
<h4><a href="/">Back to search page</a></h4>

<h1><%= "#{@doctor["profile"]["first_name"]} 
  #{@doctor["profile"]["last_name"]}" %></h1>
  <p><img src="<%= "#{@doctor["profile"]["image_url"]}" %>" 
   alt="Mountain View" style="width:304px;height:270px;"></p>
   <p><b>Bio:</b></p>
   <p><%= "#{@doctor["profile"]["bio"]}" %></p>
   <p><b>Gender:</b> <%= "#{@doctor["profile"]["gender"]}" %></p>
   <p><b>Specialties:</b> <%= "#{@doctor["specialties"][0]["name"]}" %></p>
   <p><b>Insurance plans appcepted:</b></p>

   <% @doctor["insurances"].each do |insurance| %>
   <p><%= insurance["insurance_plan"]["name"] %></p>  
   <% end %>




   <div id="map"></div>


   <h2>Contact information:</h2>
   <p><b>Practice:</b> <%= "#{@doctor["practices"][0]["name"]}" %></p>
   <p><b>Location:</b> </p>
   <p><%= "#{@doctor["practices"][0]["visit_address"]["street"]}" %></p>
   <p><%= "#{@doctor["practices"][0]["visit_address"]["street2"]}" %></p>
   <p><%= "#{@doctor["practices"][0]["visit_address"]["city"]}" %>, <%= "#{@doctor["practices"][0]["visit_address"]["state_long"]}" %> <%= "#{@doctor["practices"][0]["visit_address"]["zip"]}" %></p>

   <p>Website: <a href="<%= "#{@doctor["practices"][0]["website"]}" %>"><%= "#{@doctor["practices"][0]["website"]}" %></a></p>
   <p>Phone: <%= "#{@doctor["practices"][0]["phones"][0]["number"]}" %></p>
   <p>Accepting new patients? <%= "#{@doctor["practices"][0]["accepts_new_patients"]}" %></p>


   <%= form_tag "/saved_doctors", method: :post do %>
   <div>
    <%= submit_tag "Add this doctor to your saved list"  %>
  </div>

  <div>
    <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
  </div>

  <div>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>

  <div>
    <%= hidden_field_tag :status, "Saved" %>
  </div>
  <% end %>

  <%= form_tag "/questions", method: :post do %>
  <div>
    <%= label_tag :Question %>
    <%= text_field_tag :text %>
  </div>
  <div>
    <%= submit_tag "Submit Question" %>
  </div>
  <div>
    <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
  </div>
  <div>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <div>
    <%= hidden_field_tag :status, "Submitted" %>
  </div>

  <% end %>

  <h3>Submit a question: </h3>

  <p>Questions for <%= "#{@doctor["profile"]["first_name"]} 
   #{@doctor["profile"]["last_name"]}" %>:</p>
   <% @questions.each do |question| %>
   <p><%= question.text %></p>
   <% end %>

   <h3>Submit a review: </h3>
   <%= form_tag "/reviews", method: :post do %>
   <div>
    <%= label_tag :Review %>
    <%= text_field_tag :text %>
  </div>
  <div>
    <%= label_tag :Rating %>
    <%= text_field_tag :rating %>
  </div>  

  <div>
    <%= submit_tag "Submit Review" %>
  </div>
  <div>
    <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
  </div>
  <div>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <% end %>


  <p>Reviews for <%= "#{@doctor["profile"]["first_name"]} 
   #{@doctor["profile"]["last_name"]}" %></p>
   <% @reviews.each do |review| %>
   <p>Review: "<%= review.text %>"</p>
   <p>Rating: <%= review.rating %> out of 5</p>
   <% end %>
 </div>

 <script>
  var map;
  function initMap() {
    var myLatLng = {lat: <%= "#{@doctor["practices"][0]["lat"]}" %>, lng: <%= "#{@doctor["practices"][0]["lon"]}" %>};
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= "#{@doctor["practices"][0]["lat"]}" %>, lng: <%= "#{@doctor["practices"][0]["lon"]}" %>},
      zoom: 14
    });
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
