<h1>Doctor Show Page</h1>
<h4><a href="/">Back to search page</a></h4>

<h1><%= "#{@doctor["profile"]["first_name"]} 
               #{@doctor["profile"]["last_name"]}" %></h1>
<p><img src="<%= "#{@doctor["profile"]["image_url"]}" %>" 
             alt="Mountain View" style="width:304px;height:270px;"></p>
<p><b>Bio:</b></p>
<p><%= "#{@doctor["profile"]["bio"]}" %></p>
<p><b>Gender:</b> <%= "#{@doctor["profile"]["gender"]}" %></p>
<p><b>Specialties:</b> <%= "#{@doctor["specialties"][0]["name"]}" %></p>
<p><b>Insurance plans appcepted:</b></p>

<% @doctor["insurances"].each do |insurance| %>
  <p><%= insurance["insurance_plan"]["name"] %></p>  
<% end %>


<style>
  html, body {
    height: 90%;
    margin: 0;
    padding: 0;
  }
  div.container {
    height: 100%;
  }
  #map {
    height: 70%;
  }
</style>

<div id="map"></div>
<script>
  var map;
  function initMap() {
    var myLatLng = {lat: <%= "#{@doctor["practices"][0]["lat"]}" %>, lng: <%= "#{@doctor["practices"][0]["lon"]}" %>};
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= "#{@doctor["practices"][0]["lat"]}" %>, lng: <%= "#{@doctor["practices"][0]["lon"]}" %>},
      zoom: 14
    });
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

<h2>Contact information:</h2>
<p><b>Practice:</b> <%= "#{@doctor["practices"][0]["name"]}" %></p>
<p><b>Location:</b> </p>
<p><%= "#{@doctor["practices"][0]["visit_address"]["street"]}" %></p>
<p><%= "#{@doctor["practices"][0]["visit_address"]["street2"]}" %></p>
<p><%= "#{@doctor["practices"][0]["visit_address"]["city"]}" %>, <%= "#{@doctor["practices"][0]["visit_address"]["state_long"]}" %> <%= "#{@doctor["practices"][0]["visit_address"]["zip"]}" %></p>

<p>Website: <a href="<%= "#{@doctor["practices"][0]["website"]}" %>"><%= "#{@doctor["practices"][0]["website"]}" %></a></p>
<p>Phone: <%= "#{@doctor["practices"][0]["phones"][0]["number"]}" %></p>
<p>Accepting new patients? <%= "#{@doctor["practices"][0]["accepts_new_patients"]}" %></p>


<%= form_tag "/saved_doctors", method: :post do %>
  <div>
    <%= submit_tag "Add this doctor to your saved list"  %>
  </div>

  <div>
  <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
  </div>

  <div>
  <%= hidden_field_tag :user_id, current_user.id %>
  </div>

  <div>
  <%= hidden_field_tag :status, "Saved" %>
  </div>
<% end %>

<%= form_tag "/questions", method: :post do %>
  <div>
    <%= label_tag :Question %>
    <%= text_field_tag :text %>
  </div>
  <div>
    <%= submit_tag "Submit Question" %>
  </div>
  <div>
    <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
  </div>
  <div>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <div>
    <%= hidden_field_tag :status, "Submitted" %>
  </div>

<% end %>

<h3>Submit a question: </h3>

<p>Questions for <%= "#{@doctor["profile"]["first_name"]} 
               #{@doctor["profile"]["last_name"]}" %>:</p>
<% @questions.each do |question| %>
  <p><%= question.text %></p>
<% end %>

<h3>Submit a review: </h3>
<%= form_tag "/reviews", method: :post do %>
  <div>
    <%= label_tag :Review %>
    <%= text_field_tag :text %>
  </div>
  <div>
    <%= label_tag :Rating %>
    <%= text_field_tag :rating %>
  </div>  

  <div>
    <%= submit_tag "Submit Review" %>
  </div>
  <div>
    <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
  </div>
  <div>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <% end %>


<p>Reviews for <%= "#{@doctor["profile"]["first_name"]} 
               #{@doctor["profile"]["last_name"]}" %></p>
<% @reviews.each do |review| %>
  <p>Review: "<%= review.text %>"</p>
  <p>Rating: <%= review.rating %> out of 5</p>
<% end %>

