        
<!--start main content-->
<!--intro banner start-->
<div class="banner">
  <div class="banner-slider">
    <ul class="slides">
      <li>
        <img src="/images/bg-1.jpg" class="img-responsive" alt="">
      </li>
      <li>
        <img src="/images/bg-2.jpg" class="img-responsive" alt="">
      </li>
    </ul>
  </div>
  <div class="banner-overlay">
    <div class="banner-inner">
      <div class="banner-text">
        <div class="row no-margin">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1><%= "#{@doctor["profile"]["first_name"]} 
              #{@doctor["profile"]["last_name"]}" %></h1>
            <p><img src="<%= "#{@doctor["profile"]["image_url"]}" %>" 
               alt="Mountain View" style="width:304px;height:290px;"></p>
            <div class="buttons">
             <%= form_tag "/saved_doctors", method: :post do %>
              <div>
                <%= button_tag(type: 'submit', class: "btn btn-skin btn-lg btn-radius") do %>
                  Save This Doctor
                <% end %>
              </div>

              <div>
                <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
              </div>

              <div>
                <%= hidden_field_tag :user_id, current_user.id %>
              </div>

              <div>
                <%= hidden_field_tag :status, "Saved" %>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--banner end-->

<div class="space-60"></div>
<!--section title start-->
<div class="row no-margin ">
  <div class="col-sm-12">
    <div class="section-title">
      <h3>BIO</h3>
    </div>
  </div>
</div><!--section title-->
<!--intro text-->
<div class="row wide-image-wrapper no-margin">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <div class="intro-text wow animated fadeInUp" data-wow-delay="0.1s">
      <p><%= "#{@doctor["profile"]["bio"]}" %></p>
      <h4>John Doe, Design_mylife inc.</h4>
    </div>
  </div>
  <div class="space-60"></div>
</div><!--end row-->


<div class="row vertical-align-child white-bg wide-image-wrapper no-margin">

  <div class="col-sm-6 text-left">
    <div class="intro-text">

      <h2 class="margin-b-30">
        Dr. <%= "#{@doctor["profile"]["first_name"]} 
        #{@doctor["profile"]["last_name"]}" %>
      </h2>
      <p><b>Gender:</b> <%= "#{@doctor["profile"]["gender"]}" %></p>
      <p><b>Specialties:</b> <%= "#{@doctor["specialties"][0]["name"]}" %></p>
      <p><b>Insurance plans appcepted:</b></p>

      <h2>Contact information:</h2>
      <p><b>Practice:</b> <%= "#{@doctor["practices"][0]["name"]}" %></p>
      <p><b>Location:</b> </p>
      <p><%= "#{@doctor["practices"][0]["visit_address"]["street"]}" %>, <%= "#{@doctor["practices"][0]["visit_address"]["street2"]}" %></p>
      <p><%= "#{@doctor["practices"][0]["visit_address"]["city"]}" %>, <%= "#{@doctor["practices"][0]["visit_address"]["state_long"]}" %> <%= "#{@doctor["practices"][0]["visit_address"]["zip"]}" %></p>

      <p>Website: <a href="<%= "#{@doctor["practices"][0]["website"]}" %>"><%= "#{@doctor["practices"][0]["website"]}" %></a></p>
      <p>Phone: <%= "#{@doctor["practices"][0]["phones"][0]["number"]}" %></p>
      <p>Accepting new patients? <%= "#{@doctor["practices"][0]["accepts_new_patients"]}" %></p>
    </div>
  </div>

  <div class="col-sm-6 text-right">
    <script>
      var map;
      function initMap() {
        var myLatLng = {lat: <%= "#{@doctor["practices"][0]["lat"]}" %>, lng: <%= "#{@doctor["practices"][0]["lon"]}" %>};
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= "#{@doctor["practices"][0]["lat"]}" %>, lng: <%= "#{@doctor["practices"][0]["lon"]}" %>},
          zoom: 14
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    <div id="map"></div>
  </div>

</div><!--intro text end-->
<!--Portfolio start-->
<div class="portfolio-wrapper">
  <div class="parallax-header">
    <div class="row no-margin">
      <div class="col-sm-12 wow animated bounceIn" data-wow-delay="0.1s">
        <h3>Reviews and Ratings</h3>
        <p class="sub-title">See what others are saying about this doctor</p>
      </div>
    </div>
    <div class="separator-bottom" style="background-color: #000000;color:#eef1f6;"></div>
  </div><!--parallax header end-->

  
  <div class="space-60"></div>
<!--newsletter-->


   <% @reviews.each do |review| %>
        <div class="col-sm-4">
        <div class="service-box wow animated fadeInDown" data-wow-delay="<%= @delay %>s"> 
          <h3>Rating: <%= review.rating %> out of 5</h3>
          <p>
            Review: "<%= review.text %>"
          </p>
        </div>
      </div>
    <% @delay = (@delay + 0.3) %>
   <% end %>

<div class="row no-margin newsletter-form">
  <div class="col-sm-7 wow animated fadeInLeft" data-wow-delay="0.1s">
    <h2>LEAVE A REVIEW</h2>
    <p>
      Would you recommend this docotor? Let others know what you think!
    </p>
  </div>
  <div class="col-sm-5 wow animated fadeInRight" data-wow-delay="0.2s">
    <%= form_tag "/reviews", method: :post do %>
      <div class="form-group">
        <%= label_tag :Review %>
        <%= text_field_tag :text %>
      </div>
      <div>
        <%= label_tag :Rating %>
        <%= text_field_tag :rating %>
      </div>  
      <div>
        <%= button_tag(type: 'submit', class: "btn btn-dark btn-radius btn-lg") do %>
          SUBMIT
        <% end %>
      </div>
      <div>
        <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
      </div>
      <div>
        <%= hidden_field_tag :user_id, current_user.id %>
      </div>
    <% end %>
  </div>
</div>
<div class='space-60'></div>
<div class="testimonials row no-margin">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h1>Testimonials</h1>


    <div id="owl-testi" class="owl-carousel owl-theme">

      <div class="item">
        <img src="/images/t-1.jpg" alt="">
        <p>
          Establecido hace demasiado tiempo que un lector se distraer치 con el contenido del texto de un sitio mientras que mira su dise침o. 
        </p>
        <h4>John doe</h4>
      </div>
      <div class="item">
        <img src="/images/t-2.jpg" alt="">
        <p>
          Establecido hace demasiado tiempo que un lector se distraer치 con el contenido del texto de un sitio mientras que mira su dise침o. 
        </p>
        <h4>John doe</h4>
      </div>
    </div>
  </div>
</div>



<!--footer start-->
<footer class="footer row no-margin">
  <div class="col-sm-7">
    <ul class="list-inline">
      <li><a href="/#">Home</a></li>
      <li><a href="/#">About</a></li>
      <li><a href="/#">News</a></li>
      <li><a href="/#">Privacy</a></li>
      <li><a href="/#">Contact</a></li>
    </ul>
  </div>
  <div class="col-sm-5 text-right">
    <span>&copy; Copyright 2016. All right reserved.</span>
  </div>
</footer>
<!--footer end-->

   <% @doctor["insurances"].each do |insurance| %>
   <p><%= insurance["insurance_plan"]["name"] %></p>  
   <% end %>

  <%= form_tag "/questions", method: :post do %>
  <div>
    <%= label_tag :Question %>
    <%= text_field_tag :text %>
  </div>
  <div>
    <%= submit_tag "Submit Question" %>
  </div>
  <div>
    <%= hidden_field_tag :doctor_uid, @doctor["uid"] %>
  </div>
  <div>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <div>
    <%= hidden_field_tag :status, "Submitted" %>
  </div>

  <% end %>

  <h3>Submit a question: </h3>

  <p>Questions for <%= "#{@doctor["profile"]["first_name"]} 
   #{@doctor["profile"]["last_name"]}" %>:</p>
   <% @questions.each do |question| %>
   <p><%= question.text %></p>
   <% end %>



 </div>


